#root {
  min-height: 100vh;
  font-family: "Playfair Display", serif;
  background-color: #F6F5F5;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

img {
  max-width: 50px;
}

a, a:visited {
  color:#FFFFFF;
  text-decoration: none;
}

nav {
  
  background-color: #EE99C2;

  padding: 1rem 2rem;
  border: solid #FFE3CA 2px;
  border-style: dotted;
  width: 100%;

  a {
    font-size: 1.5rem;
  
    :hover {
      color: #0C359E;
    }
  }
}

main {
  margin-top: 9rem;
//   display: flex;
//   justify-content: center;
}
