#root {
  min-height: 100vh;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

a, a:visited {
  color:black;
  text-decoration: none;
}

nav {
  background-color: #EE99C2;
  font-family: "DM Serif Display", serif;

  padding: 1rem 2rem;
  width: 100%;

  a {
    font-size: 1.5rem;
  
    :hover {
      color: #F6F5F5;
    }
  }

  img {
    max-width: 50px;
  }

  .nav-gap {
    padding: 0 15px;
  }
}

main {
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
  color: #0C359E;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  color: #0C359E;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;


  h1, h2, h3 {
      text-align: center;
  }

  .bold-underline {
    text-decoration: underline;
    font-weight: bolder;
  }
  
  .bird-card-header {
    display: flex;
    justify-content: space-between;
  }
  
}

.bird-cage-card {
  max-width: 50%;
  background-color: #FFE3CA;

  img {
    padding-bottom: 1rem;
  }
}

.add-bird {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .add-bird-card {
    max-width: 60%;
    padding: 2rem;
    background-color: #FFE3CA;
  }
}
