:root {
  --darkblue: #8274E819;
  --lightblue: #4BC9FE;
  --blue: #0F2F94; 
  --yellow: #FFDFC3;
  --pink: #EB8EBA; 
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Playfair Display", serif;
}

#root, .app, main {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, a:visited {
  color:black;
  text-decoration: none;
}

button {
  background: none;
  color: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

header {
  background-color: var(--pink);
  font-family: "DM Serif Display", serif;
  padding: 9px 0;
  border-radius: 0 0 1.5rem 1.5rem;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 80rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-outline {
  color: var(--blue);
  font-size: 1.25rem;
  letter-spacing: 1px;
  border: 2px solid var(--blue);
  border-radius: 2rem;
  padding: 12px 34px;
  box-shadow: 0px 3px 12px var(--darkblue);
}

.gradient-button {
  background: linear-gradient(178deg, var(--lightblue), #5052FE);
  color: white;
  font-size: 1.25rem;
  letter-spacing: 1px;
  padding: 12px 34px;
  border-radius: 2rem;
}

.upload-button {
  background: linear-gradient(178deg, var(--lightblue), #5052FE);
  color: white;
  font-size: 1.25rem;
  letter-spacing: 1px;
  padding: 0 34px;
  height: 49px;
  border-radius: 2rem;
}

.register, .sign-in, .add-bird {
  color: var(--blue);
  padding: 0 1rem;
  background-image: url('./assets/Background\ Image\ Divider@2x.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .middle-card {
    max-width: 50rem;
    padding: 200px 100px 100px 100px;
    background-color: var(--yellow);
    border-radius: 3rem;
    box-shadow: 20px 5px 50px #4A80FF33;
  }

  .react-icon {
    width: 2.25rem;
    height: 3rem;
  }

  .react-bird-icon {
    width: 3rem;
    height: 4.25rem;
  }

  .input {
    border-radius: 1.5rem;
  }
}




